db_creds.yaml
clean_test.py
cleancleantest.py
tabulatest.py
cardcleantest.py
cardcleantest2.py
testcard.csv
test.csv
add_to_project.txt
thomastest.csv
sql_queries/alternate_answers.sql
furthertesting.csv
weight_csv_testing.csv
product_details_weights_converted.csv
